.chart {
 display: inline-block;
 border:solid 1px #E5E5E5;
 box-sizing: border-box;
 border-radius:5px;
 margin-right: 4px;
}
.pie-chart{
    width:33%
}
.polar-chart{
    width:33%
}
.line-chart{
    width:33%
}
.row {
    width: 100%;
    margin-top:30px;
}